/* import inter google font  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* import outfit google font  */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* import openSans font  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Bangla font  */
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");

/* Import tailwindcss cdn */
@import "tailwindcss";

@layer components {
  .inter-font {
    font-family: "Inter", "sans-serif";
  }
  .outfit-font {
    font-family: "Inter", "sans-serif";
  }
  .open-font {
    font-family: "Open Sans", sans-serif;
  }
  .hind-font {
    font-family: "Hind Madurai", sans-serif;
  }
}

.historyParent {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.03);
  margin-bottom: 8px;
  padding: 10px 24px;
  height: 85px;
  width: 352px;
  border-radius: 10px;
}
.datetime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.history-content {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 18px;
}
